<?xml version="1.0"?>
<model>
  <name>small_indoor_scenario</name>
  <version>0.1.0</version>
  <author>
   <name>Alberto Ezquerro</name>
   <email>aezquerro@theconstruct.ai</email>
  </author>
  <sdf version='1.4'>model.sdf</sdf>
  <description>
    Small Room
    By The Construct
  </description>
</model>
