<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape document_id: 4757b8f98f7afcc7c3655639 -->
<robot name="fastbot">
  <!-- Link base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="-0.0554465 -0.0168128 0.0632551" rpy="0 0 0"/>
      <mass value="0.246919"/>
      <inertia ixx="0.000732026" ixy="8.62449e-08" ixz="-1.16621e-05" iyy="0.00094594" iyz="-1.42962e-08" izz="0.00081673"/>
    </inertial>
    <!-- Part base_link -->
    <visual>
      <origin xyz="0.015056 0.0431711 0.00134516" rpy="0 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/base_link.stl"/>
      </geometry>
      <material name="base_link_material">
        <color rgba="0.262745 0.282353 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.015056 0.0431711 0.00134516" rpy="0 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/base_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link fastbot_motor -->
  <link name="fastbot_motor">
    <inertial>
      <origin xyz="0.0067446 0.0085 -0.00855065" rpy="0 0 0"/>
      <mass value="0.0339689"/>
      <inertia ixx="2.5517e-06" ixy="-3.26147e-15" ixz="-9.70451e-07" iyy="1.80062e-05" iyz="-1.94099e-15" izz="1.80884e-05"/>
    </inertial>
    <!-- Part fastbot_motor -->
    <visual>
      <origin xyz="0.0935 -0.00775 -0.036" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/fastbot_motor.stl"/>
      </geometry>
      <material name="fastbot_motor_material">
        <color rgba="0.129412 0.129412 0.129412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0935 -0.00775 -0.036" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/fastbot_motor.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link wheel_d65x25_v1 -->
  <link name="wheel_d65x25_v1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part tire_d65x25_v1 -->
    <visual>
      <origin xyz="0.1135 0.0162 0.103475" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/tire_d65x25_v1.stl"/>
      </geometry>
      <material name="tire_d65x25_v1_material">
        <color rgba="0.290196 0.290196 0.290196 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1135 0.0162 0.103475" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/tire_d65x25_v1.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_d65x25_v1 -->
    <visual>
      <origin xyz="0.1135 0.0162 0.1039" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/wheel_d65x25_v1.stl"/>
      </geometry>
      <material name="wheel_d65x25_v1_material">
        <color rgba="1 0.933333 0.133333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1135 0.0162 0.1039" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/wheel_d65x25_v1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from fastbot_motor to wheel_d65x25_v1 -->
  <joint name="right_wheel" type="continuous">
    <origin xyz="-0.02 0.0085 -0.0191" rpy="1.90721e-16 7.20716e-17 -2.18046"/>
    <parent link="fastbot_motor"/>
    <child link="wheel_d65x25_v1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from base_link to fastbot_motor -->
  <joint name="right_motor" type="fixed">
    <origin xyz="-0.078444 -0.0408289 0.0260952" rpy="-1.5708 -2.94692e-47 2.498e-16"/>
    <parent link="base_link"/>
    <child link="fastbot_motor"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link fastbot_motor_2 -->
  <link name="fastbot_motor_2">
    <inertial>
      <origin xyz="0.0067446 -0.0085 -0.00855065" rpy="0 0 0"/>
      <mass value="0.0339689"/>
      <inertia ixx="2.5517e-06" ixy="-3.26147e-15" ixz="-9.70451e-07" iyy="1.80062e-05" iyz="-1.94099e-15" izz="1.80884e-05"/>
    </inertial>
    <!-- Part fastbot_motor_2 -->
    <visual>
      <origin xyz="0.0935 -0.02475 -0.036" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/fastbot_motor.stl"/>
      </geometry>
      <material name="fastbot_motor_2_material">
        <color rgba="0.129412 0.129412 0.129412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0935 -0.02475 -0.036" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/fastbot_motor.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link wheel_d65x25_v1_2 -->
  <link name="wheel_d65x25_v1_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part wheel_d65x25_v1_2 -->
    <visual>
      <origin xyz="0.1135 0.0162 0.1039" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/wheel_d65x25_v1.stl"/>
      </geometry>
      <material name="wheel_d65x25_v1_2_material">
        <color rgba="1 0.933333 0.133333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1135 0.0162 0.1039" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/wheel_d65x25_v1.stl"/>
      </geometry>
    </collision>
    <!-- Part tire_d65x25_v1_2 -->
    <visual>
      <origin xyz="0.1135 0.0162 0.104325" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/tire_d65x25_v1.stl"/>
      </geometry>
      <material name="tire_d65x25_v1_2_material">
        <color rgba="0.290196 0.290196 0.290196 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1135 0.0162 0.104325" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/tire_d65x25_v1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from fastbot_motor_2 to wheel_d65x25_v1_2 -->
  <joint name="left_wheel" type="continuous">
    <origin xyz="-0.02 -0.0085 -0.0191" rpy="-1.09224e-15 -7.57006e-16 -1.22177"/>
    <parent link="fastbot_motor_2"/>
    <child link="wheel_d65x25_v1_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from base_link to fastbot_motor_2 -->
  <joint name="left_motor" type="fixed">
    <origin xyz="-0.078444 0.00717107 0.0260952" rpy="1.5708 -2.96391e-30 2.56739e-16"/>
    <parent link="base_link"/>
    <child link="fastbot_motor_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link pololu_ball_caster -->
  <link name="pololu_ball_caster">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part pololu_ball_caster -->
    <visual>
      <origin xyz="0.006731 0 -0.0106945" rpy="-1.5708 -0 -2.46519e-32"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/pololu_ball_caster.stl"/>
      </geometry>
      <material name="pololu_ball_caster_material">
        <color rgba="0.34902 0.376471 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.006731 0 -0.0106945" rpy="-1.5708 -0 -2.46519e-32"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/pololu_ball_caster.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to pololu_ball_caster -->
  <joint name="caster" type="fixed">
    <origin xyz="5.59691e-05 -0.0241949 0.00334516" rpy="0 -0 1.5708"/>
    <parent link="base_link"/>
    <child link="pololu_ball_caster"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link lslidar_n10 -->
  <link name="lslidar_n10">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part lslidar_n10 -->
    <visual>
      <origin xyz="-0.06 0.074 -0.14585" rpy="3.79087e-17 -5.94511e-32 1.69482e-32"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/lslidar_n10.stl"/>
      </geometry>
      <material name="lslidar_n10_material">
        <color rgba="0.0980392 0.0980392 0.0980392 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.06 0.074 -0.14585" rpy="3.79087e-17 -5.94511e-32 1.69482e-32"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/lslidar_n10.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to lslidar_n10 -->
  <joint name="lidar" type="fixed">
    <origin xyz="-0.058944 -0.0168289 0.147435" rpy="-2.95369e-31 -1.74068e-33 -1.5708"/>
    <parent link="base_link"/>
    <child link="lslidar_n10"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link raspicam -->
  <link name="raspicam">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part raspicam -->
    <visual>
      <origin xyz="0 0 -0.0065" rpy="-9.59889e-44 1.01689e-30 -9.19602e-44"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/raspicam.stl"/>
      </geometry>
      <material name="raspicam_material">
        <color rgba="0.34902 0.376471 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0065" rpy="-9.59889e-44 1.01689e-30 -9.19602e-44"/>
      <geometry>
        <mesh filename="package://fastbot_description/onshape/assets/raspicam.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to raspicam -->
  <joint name="camera" type="fixed">
    <origin xyz="0.021056 -0.0168289 0.088598" rpy="1.5708 8.88178e-16 1.5708"/>
    <parent link="base_link"/>
    <child link="raspicam"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
</robot>
